
<div class="parent p-grid main-container" >
    <div class="p-col-12 p-md-4 p-lg-4" [ngStyle]="{'margin-left': topmenu.isVisibleSideBar? '12rem': '0rem', 'text-align': 'center'}">
        <h1>Seleccione una opcion </h1>
       <div class="p-col-12 p-md-12 p-lg-12" style="display: flex;text-align: center;">
           <div style="width: 90%; ">
               <p-card header="Punto #1" [style]="{'width': '100%', 'margin': '1rem'}" [routerLink]="['/firstpage']">
                   <p>Se muestran los listados y se actualizan los listados (dinamicamente) tienen un formulario para agregar clientes y usuarios segun la pestaña activa, 
                       permite agregar una o varias ordenes y los listados se generan tambien de forma dinamica.
                   </p>
               </p-card>
           </div>
           
       </div>
       <div class="p-col-12 p-md-12 p-lg-12" style="display: flex;">
        
        <div style="width: 27%; margin: 1rem;">
            <p-card header="Lista de Clientes" [style]="{'width': '100%', 'margin': '1rem'}" [routerLink]="['/mi-tienda/clientes']">
                <p>Redirige a la pagina que contiene el listado de clientes con la opcion de visualizar detalle del cliente seleccionado.
                </p>
            </p-card>
        </div>
        <div style="width: 27%; margin: 1rem;">
            <p-card header="Lista de Productos" [style]="{'width': '100%', 'margin': '1rem'}" [routerLink]="['/mi-tienda/productos']">
                <p>Redirige a la pagina que contiene el listado de productos con la opcion de visualizar detalle del producto seleccionado.
                </p>
            </p-card>
        </div>
        <div style="width: 27%; margin: 1rem;">
             <p-card header="Lista de Ordenes" [style]="{'width': '100%', 'margin': '1rem'}" [routerLink]="['/mi-tienda/clientes']">
                 <p>
                     Redirige a la pagina que contiene el listado de ordenes con la opcion de crear nuevas ordenes.
                 </p>
             </p-card>
         </div>
        
    </div>

    </div>
</div>





