<div class="parent p-grid main-container" >
    <div class="p-col-12 p-md-4 p-lg-4" [ngStyle]="{'margin-left': topmenu.isVisibleSideBar? '12rem': '0rem'}">
        <div style="margin: 2rem;">

            <fieldset  >
                <legend>Formulario: Orden</legend>
                <div class="p-col-12 p-md-4 p-lg-4" >
                    <div class="p-col-12 p-md-4 p-lg-4" >
                        <p-dropdown [options]="Clients" placeholder="Seleccione cliente" [(ngModel)]="selectedCli" optionLabel="nombre" optionValue="id" ></p-dropdown>
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-4">
                        <p-dropdown [options]="Products" placeholder="Seleccione producto"  [(ngModel)]="selectedProd" optionLabel="nombre" optionValue="id" ></p-dropdown>
                    </div>

                    <div class="p-col-12 p-md-4 p-lg-4">
                        <input type="date" pInputText [(ngModel)]="orderObj.fecha" required> 
                    </div>
                    
                    <div class="p-col-12 p-md-4 p-lg-4">
                        <input type="id" pInputText placeholder="id" [(ngModel)]="orderObj.id"  required> 
                    </div>
                    <div class="p-col-12 p-md-4 p-lg-4">
                        <input type="number" pInputText placeholder="Cantidad" [(ngModel)]="qty" required> 
                    </div>
                    
                    <div class="p-col-12 p-md-4 p-lg-4" >
                        <button pButton pRipple label="Crear Orden" icon="pi pi-check" (click)="createOrder()"></button>
                    </div>
                    
                </div>
            </fieldset>

        </div>
    </div>
</div>
