

<div class="parent p-grid main-container" >
    <div class="p-col-12 p-md-4 p-lg-4" [ngStyle]="{'margin-left': topmenu.isVisibleSideBar? '12rem': '0rem'}">
        <div style="margin: 2rem;">
            
            <button pButton pRipple label="Nuevo Cliente" icon="pi pi-check" (click)="goToAddClients()"></button>
            <h2>Listado de clientes</h2>  
            
            <!-- ESTA TABLA SE CONFIGURA DE MANERA DINAMICA TANTO EL ENCABEZADO COMO EL CONTENIDO DE LOS DETALLES -->
            <p-table [value]="tableData" [scrollable]="true" scrollHeight="75vh">
                <ng-template pTemplate="header">
                    <tr >
                        <th *ngFor="let col of cols" style="color: white;background: #1f7ed0;">
                            {{col.header}}
                        </th>
                        <th style="color: white;background: #1f7ed0;">
                            OPCIONES
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-infoRow>
                    <tr >
                        <td *ngFor="let col of cols" style="overflow: hidden;">
                                {{infoRow[col.field]}}
                        </td>
                        <td style="overflow: hidden;">
                            <button pButton pRipple label="Ver CLiente" icon="pi pi-eye" (click)="viewClient(infoRow)" ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
            

       
    </div>
</div>



