<span appMidirectiva>NOTA: (*Componente Hijo*) </span>
<span>Parametro pasado del padre al hijo = </span> <b >{{selectedClient.nombre | mipipe }}</b>

<p-table 
    *ngIf="selectedClient" 
    [value]="productsData" 
    selectionMode="multiple" 
    [(selection)]="productsDataSelected" 
    styleClass="p-mt-5"
    [scrollable]="true" scrollHeight="40vh"
>
    <ng-template pTemplate="caption">
        Puede crear una o multiples ordenes seleccionando productos
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-infoRow>
        <tr [pSelectableRow]="infoRow">
            <td *ngFor="let col of cols">
                    {{infoRow[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>





