
<div class="parent p-grid main-container" >
    <div class="p-col-12 p-md-4 p-lg-4" [ngStyle]="{'margin-left': topmenu.isVisibleSideBar? '12rem': '0rem'}">
        <!-- FORM PARA EL CLIENTE -->
        <div style="margin-left: 10%; margin-right: 10%; text-align: center;" *ngIf="indexList==0">
            <fieldset  >
                <legend>Formulario: Cliente</legend>
                <div class="p-col-12 p-md-4 p-lg-4">
                    <form [formGroup]="clientForm" style="width: 90%;margin:0px auto; height: 50%;">
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input  type="text" pInputText placeholder="id (Requerido *)" formControlName="id"  required> 
                            <div *ngIf="clientForm.controls.id.invalid && (clientForm.controls.id.dirty || clientForm.controls.id.touched)" style="color: crimson;">
                                El id es requerido *
                              </div>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="text" pInputText placeholder="nombre" formControlName="nombre" > 
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="text" pInputText placeholder="apellidos" formControlName="apellidos">   
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <p-inputMask type="text" formControlName="telefono" mask="9999-9999" placeholder="telefono"></p-inputMask>

                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="email" pInputText placeholder="correo" formControlName="correo" > 
                            <div *ngIf="clientForm.controls.correo.invalid && (clientForm.controls.id.dirty || clientForm.controls.id.touched)" style="color: crimson;">
                                El correo es invalido
                              </div>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            
                            <p-inputMask 
                                type="text" 
                                formControlName="nit" 
                                mask="9999-999999-999-9"
                                placeholder="nit"
                            ></p-inputMask>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4" >
                            <button [disabled]="!clientForm.valid" pButton pRipple label="Agregar Cliente" icon="pi pi-check" (click)="createClient()"></button>
                        </div>
                    </form> 
                </div>
            </fieldset>
        </div>
        <!-- FORM PARA EL PRODUCTO -->
        <div style="margin-left: 10%; margin-right: 10%; text-align: center;" *ngIf="indexList==1">
            <fieldset  >
                <legend>Formulario: Producto</legend>
                <div class="p-col-12 p-md-4 p-lg-4">
                    <form [formGroup]="productForm" style="width: 90%;margin:0px auto; height: 50%;">
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="id" pInputText placeholder="id" formControlName="id"  required> 
                            <div *ngIf="productForm.controls.id.invalid && (productForm.controls.id.dirty || productForm.controls.id.touched)" style="color: crimson;">
                                El id es requerido *
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="nombre" pInputText placeholder="nombre" formControlName="nombre"  > 
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="descripcion" pInputText placeholder="descripcion" formControlName="descripcion" >   
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="precio" pInputText placeholder="precio" formControlName="precio" >   
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4" >
                            <button [disabled]="!productForm.valid" pButton pRipple label="Agregar Producto" icon="pi pi-check" (click)="createProduct()"></button>
                        </div>
                    </form> 
                </div>
            </fieldset>
            
        </div>
        <!-- FORM PARA AGREGAR ORDENES A UN CLIENTE -->
        <div style="margin-left: 10%; margin-right: 10%; text-align: center;" *ngIf="indexList==2">
            <fieldset  >
                <legend>(*Componente Padre*) REGISTRAR ORDENES</legend>
                <div class="p-col-12 p-md-4 p-lg-4">
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <h4>A quien pertenecerán las ordenes?</h4>
                            <p-dropdown [options]="tableData" [(ngModel)]="selectedClient" (onChange)="clientSelectedChange()" placeholder="Seleccione Cliente" optionLabel="nombre"></p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4" >
                            <button [disabled]="!selectedClient.id" pButton pRipple label="Crear ordenes" icon="pi pi-check" (click)="createOrders()"></button>
                        </div>

                </div>
            </fieldset>
            
        </div>

        <p-tabView (onChange)="handleChange($event)" [(activeIndex)]="indexList">
            <p-tabPanel  header="Clientes">
                
                <!-- ESTA TABLA SE CONFIGURA DE MANERA DINAMICA TANTO EL ENCABEZADO COMO EL CONTENIDO DE LOS DETALLES -->
                <p-table [value]="tableData" [scrollable]="true" scrollHeight="40vh">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of cols">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-infoRow>
                        <tr>
                            <td *ngFor="let col of cols">
                                    {{infoRow[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </p-tabPanel>
            <p-tabPanel  header="Productos">
                
                <!-- ESTA TABLA SE CONFIGURA DE MANERA DINAMICA TANTO EL ENCABEZADO COMO EL CONTENIDO DE LOS DETALLES -->
                <p-table [value]="tableData" [scrollable]="true" scrollHeight="40vh">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of cols">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-infoRow>
                        <tr>
                            <td *ngFor="let col of cols">
                                    {{infoRow[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </p-tabPanel>
            <p-tabPanel  header="Ordenes">
                <!-- Componente implementado sin usar rautes.module -->
                <app-orders
                    *ngIf="selectedClient.id"
                    [selectedClient]="selectedClient"
                >
                </app-orders>
               
            </p-tabPanel>
        </p-tabView>
    </div>
</div>






