
<div class="parent p-grid main-container" >
    <div class="p-col-12 p-md-4 p-lg-4" [ngStyle]="{'margin-left': topmenu.isVisibleSideBar? '12rem': '0rem'}">
        <div style="margin: 2rem;">

            <button pButton pRipple label="Nueva Orden" icon="pi pi-check" (click)="goToAddOrders()"></button>
            <h2>Listado de Ordenes</h2>  

            <p-table [value]="tableData" [scrollable]="true" scrollHeight="75vh">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols" style="color: white;background: #1f7ed0;">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-infoRow>
                    <tr>
                        <td *ngFor="let col of cols">
                                {{infoRow[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>  

























