

<div class="parent p-grid" >
  <div class="p-col-12 p-md-4 p-lg-4" [ngStyle]="{'margin-left': topmenu.isVisibleSideBar? '12rem': '0rem'}">
    <div class="p-col-12 p-md-4 p-lg-3" style="text-align: center; padding-top: 25%;">
      <!-- <h1>Login</h1>
          <form [formGroup]="loginForm" (ngSubmit)="submit()" style="width: 90%;margin:0px auto; height: 50%;">
            <input type="text" pInputText placeholder="Username" formControlName="name"  required> 
            
            <input type="password" pInputText placeholder="Password" formControlName="password" required>   
            
            <button (click)="authenticate()" type="submit" class="btn btn-primary btn-block btn-large">Ingresar</button>
          </form> -->
         

          <p-table [columns]="cols" [value]="data">
          <!-- <p-table > -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Vin</th>
                    <th>Year</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="body" > -->
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" [(ngModel)]="rowData.vin">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.vin}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input type="text" [(ngModel)]="rowData.year" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.year}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>

                      <button pButton type="button" label="Editar" icon="pi pi-pencil" style="margin-right: 3px;background: blue;" ></button>
                      <button pButton type="button" label="Guardar" icon="pi pi-check" style="margin-right: 3px;background: darkgreen;" ></button>
                      <button pButton type="button" label="Eliminar" icon="pi pi-trash" style="margin-right: 3px;background:crimson;" ></button>
                    </td>
                </tr>
                
            </ng-template>
        </p-table>


    </div>
  </div>
</div>

