


<div *ngIf="topmenu.menuIsVisible" class="navbar" >
  <div (click)="openMenu()" class="acction-button">
    <fa-icon [icon]="faBars" ></fa-icon> 
  </div>
  <div class="dropdown" >
    <button class="dropbtn" > 
		<b>Mi Tienda</b>
	</button>
  </div>
  
</div>



<p-sidebar class="side-menu" [(visible)]="topmenu.isVisibleSideBar" [dismissible]="true" [modal]="false" [style]="{'width':'12rem', 'margin-top': '2.9rem', 'padding': '0px'}">
  <div class="header" ></div>
  <p-panelMenu [model]="items" [style]="{'width':'100%', 'background-color': '#1f7ed0' }"></p-panelMenu>
  <div style="height: 1rem;"></div>
  <!-- <p-menu [model]="items2" [style]="{'width':'100%' }"></p-menu> -->


  



</p-sidebar>


