

<div class="parent p-grid main-container" >
    <div class="p-col-12 p-md-4 p-lg-4" [ngStyle]="{'margin-left': topmenu.isVisibleSideBar? '12rem': '0rem'}">
        <div style="margin: 2rem;">
            <fieldset  >
                <legend>{{tittle}}</legend>
                <div class="p-col-12 p-md-8 p-lg-8">
                    <form [formGroup]="clientForm" style="width: 90%;margin:0px auto; height: 50%;">
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input  type="text" pInputText placeholder="id (Requerido *)" formControlName="id"  required> 
                            <div *ngIf="clientForm.controls.id.invalid && (clientForm.controls.id.dirty || clientForm.controls.id.touched)" style="color: crimson;">
                                El id es requerido *
                            </div>
                        </div>
                        <div class="p-col-12 p-md-8 p-lg-8">
                            <input type="text" pInputText placeholder="nombre" formControlName="nombre" > 
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="text" pInputText placeholder="apellidos" formControlName="apellidos">   
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <p-inputMask type="text" formControlName="telefono" mask="9999-9999" placeholder="telefono"></p-inputMask>

                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="email" pInputText placeholder="correo" formControlName="correo" > 
                            <div *ngIf="clientForm.controls.correo.invalid && (clientForm.controls.id.dirty || clientForm.controls.id.touched)" style="color: crimson;">
                                El correo es invalido
                              </div>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            
                            <p-inputMask 
                                type="text" 
                                formControlName="nit" 
                                mask="9999-999999-999-9"
                                placeholder="nit"
                            ></p-inputMask>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4" >
                            <button *ngIf="!isDetail" [disabled]="!clientForm.valid" pButton pRipple label="Agregar Cliente" icon="pi pi-check" (click)="createClient()"></button>
                        </div>
                    </form> 
                </div>
            </fieldset>
        </div>
    </div>
</div>








