
<div class="parent p-grid main-container" >
    <div class="p-col-12 p-md-4 p-lg-4" [ngStyle]="{'margin-left': topmenu.isVisibleSideBar? '12rem': '0rem'}">
        <div style="margin: 2rem;">

            <fieldset  >
                <legend>Formulario: Producto</legend>
                <div class="p-col-12 p-md-4 p-lg-4">
                    <form [formGroup]="productForm" style="width: 90%;margin:0px auto; height: 50%;">
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="id" pInputText placeholder="id" formControlName="id"  required> 
                            <div *ngIf="productForm.controls.id.invalid && (productForm.controls.id.dirty || productForm.controls.id.touched)" style="color: crimson;">
                                El id es requerido *
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="nombre" pInputText placeholder="nombre" formControlName="nombre"  > 
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="descripcion" pInputText placeholder="descripcion" formControlName="descripcion" >   
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4">
                            <input type="precio" pInputText placeholder="precio" formControlName="precio" >   
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-4" >
                            <button [disabled]="!productForm.valid" *ngIf="!isDetail" pButton pRipple label="Agregar Producto" icon="pi pi-check" (click)="createProduct()"></button>
                        </div>
                    </form> 
                </div>
            </fieldset>

        </div>
    </div>
</div>















